@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
   box-sizing: border-box;
   font-family: Open+Sans;
}

:root{
    --bg-gray: #E8E8E8;
    --color-primary: #4D41C0;
    --white: #ffffff;
    --text-grey:#4a4a4a;
}

html, body{
    background: var(--bg-gray)
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

nav h1{
    font-size: 24px;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
    margin: 0%;
}

header{
    align-items: center;
    display: flex;
    height: 60px;
    color: white;
    background-color:#4D41C0
}

a, a:hover{
    color: unset;
    text-decoration: none;
}

a nav{
    font-size: 12px;
    font-weight: 400;
}

.dsmovie-contact-container{
    display: flex;
    align-items: center;
}

.dsmovie-contact-container img{
    margin-right: 10px;
}

#dsmovie-card-list{
    padding: 40px 0;
}

.dsmovie-card{
    width: 360px;
}

.dsmovie-card img{
    width: 100%;
    border-radius: 8px 8px 0 0;
} 

.dsmovie-card-descripition{
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0 0 8px 8px;
}

.dsmovie-card-descripition h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
}

.dsmovie-btn , .dsmovie-btn:hover{
    height: 40px;
    width: 180px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
