@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

*{
   box-sizing: border-box;
   font-family: 'fredoka';
}

html, body{
    background: #E8E8E8;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

header{
    background-color:#4D41C0;
    color: white;
}

a, a:hover{
    color: unset;
    text-decoration: none;
}